
<!DOCTYPE html>
<html>
<body>
<iframe id="fg-frame-8-ball-billiards-classic" width="640" height="431" data-aspect-ratio="1.484" src="" frameborder="0"></iframe><script>(function(d, url, fgJS, firstJS){fgJS = d.createElement('script');firstJS=d.getElementsByTagName('script')[0];fgJS.src=url;fgJS.onload=function() {var fg_frame=document.getElementById('fg-frame-8-ball-billiards-classic');var fg_url='https://play.famobi.com/8-ball-billiards-classic/A-EJDAK';var mobileRedirect=true;var mobileTablet=true;famobi_embedFrame(fg_frame, fg_url, mobileRedirect, mobileTablet);};firstJS.parentNode.insertBefore(fgJS, firstJS);})(document, 'https://games.cdn.famobi.com/html5games/plugins/embed.js?v=2.1')</script>

</body>
</html>